.tbl-wrapper {
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}

.tbl-wrapper {
    a {
        color: white;
    } 
}

.search-form-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
